image:
  repository: ghcr.io/isfandiyor15/devops2
  pullPolicy: IfNotPresent
  tag: "sha-b328f2b8cacd45ad66ed4a1e0f4590543f65c387" # This will be updated by CI
replicaCount: 1
service:
  type: ClusterIP
  port: 80
  targetPort: 3000
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
env:
  dbHost: pg-postgresql.app.svc.cluster.local
  dbUser: appuser
  dbName: appdb
  # dbPassword provided via secret
serviceMonitor:
  enabled: true
  # Verify this label selector against your Prometheus instance
  additionalLabels:
    release: kps
secret:
  dbPassword: "apppass" # In real life, should not be here in plain text effectively
