apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops2-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/isfandiyor15/devops2.git
    targetRevision: main
    path: helm/myapp
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
